* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2e8d86;
}

a {
  text-decoration: none;
}
video {
  object-fit: cover;
}

.container {
  width: 80%;
  margin: 80px auto;
}

.title {
  padding: 60px 0;
  color: #fff;
  font-size: 44px;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  flex-basis: 50%;
  min-width: 250px;
}

.details {
  background: #efefef;
  width: 30rem;
  color: #454545;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.details h1 {
  margin-bottom: 1rem;
  font-weight: 700;
}

.details p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.details .code-link {
  width: 100%;
  display: flex;
  justify-content: center;
}
.details .code-btn {
  display: inline-block;
  padding: 0.45rem 1rem;
  font-size: 1.3rem;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  border: transparent;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}
.details .code-btn:hover {
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.1);
}
.feature-img {
  width: 83%;
  margin: auto;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  cursor: pointer;
}
.small-img .play-btn {
  width: 35px;
}
.video-player {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
video:focus {
  outline: none;
}
.close-btn {
  position: absolute;
  top: 100px;
  right: 40px;
  width: 30px;
  cursor: pointer;
}
/* video conatiner */
.video-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.video-container .video-thumbnail {
  height: 15rem;
  width: 25rem;
  margin: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 1rem;
}
.video-container .video-thumbnail .video-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: none;
  outline: none;
}
.video-container .video-thumbnail img:hover {
  transform: scale(1.1);
  transition: 0.2 linear;
  cursor: pointer;
}
